{% extends "webapp/base.html" %}
{% block content %}

<div class="card">
<div class="card-body">
    <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;

            <strong>   
                {{record.first_name}}
                {{record.last_name|upper}}               
            </strong>
        <br>
    <p><strong>ID: </strong>{{record.id}}</p>
    <p><strong>Email: </strong>{{record.email}}</p>
    <p><strong>Phone Number: </strong>{{record.phone}}</p>
    <p><strong>Address: </strong>{{record.address}}</p>
    <p><strong>City: </strong>{{record.city}}</p>
    <p><strong>Province: </strong>{{record.province}}</p>
    <p><strong>Country: </strong>{{record.country}}</p>
    <p><strong>Date of Creation: </strong>{{record.creation_date}}</p>
</div>
</div>
<br>
    <a class="btn btn-success" href="{% url 'dashboardpage' %}">  Back to Dashboard &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a> 
    &nbsp;
    <a class="btn btn-info" href="{% url 'updaterecordpage' record.id %}">  Update Record &nbsp; <i class="fa fa-pencil-square" aria-hidden="true"></i> </a>
    <a class="btn btn-danger" href="{% url 'deleterecordpage' record.id %}"> Delete Record &nbsp; <i class="fa fa-trash" aria-hidden="true"></i>
    </a>
{% endblock %}